body {
	background-image: url('./blur-wallpaper.jpg');
	background-size: cover;
}

h1 {
	font-size: 1.2rem;
}

/* NavBar Section */
.navb-item {
	padding: 5px 20px;
	font-weight: 500;
	font-size: 1.2rem;
	color: #434343;
}
.navb-item:hover {
	opacity: 0.75;
	color: #434343;
	text-decoration: none;
}

/* Register Section */

.login-item {
	background-color: #fff;
	opacity: 0.7;
	padding: 0, 18px;
	box-shadow: 0px 5px 20px #848484;
	border-radius: 10%;
	border-style: solid;
	border-width: 1px;
	border-color: #659960;
	min-width: 400px;
	margin: 0 auto;
}

.user-image img {
	margin-top: -55px;
	margin-left: 130px;
	margin-bottom: 10px;
	width: 100px;
	border-radius: 50%;
	box-shadow: 0px 0px 3px #848484;
}

.btn-item {
	background-color: #fbb472;
	font-size: 1.1rem;
	border-radius: 10px;
	padding: 7px 10px;
	width: 50%;
	border: none;
	align-items: center;
}

.btn-item:hover,
.btn-item:focus {
	background-color: #659960;
	color: white;
}

.button-item {
	background-color: #fbb472;
	font-size: 1.1rem;
	border-radius: 10px;
	padding: 7px 10px;
	width: 60%;
	border: none;
	align-items: center;
}

.btn-item-login {
	background-color: #fbb472;
	font-size: 1.1rem;
	font-weight: 600;
	border-radius: 10px;
	padding: 7px 10px;
	width: 40%;
	border: none;
	margin-left: 80px;
	margin-bottom: 20px;
}
.btn-item-login:hover,
.btn-item-login:focus {
	background-color: #659960;
	color: white;
}

.svg-inline--fa {
	font-size: 1.1 rem;
	margin-right: 5px;
}

.label-item {
	font-weight: 600;
}

/* Home */
.title-section {
	margin: 5% auto;
}

.title-img {
	width: 85%;
	opacity: 0.8;
	border-radius: 20%;
	margin-left: 10%;
}
.brandImg {
	width: 50px;
	opacity: 0.75;
	margin-left: 20px;
}
.title-section h1 {
	font-size: 3.5rem;
}

.title-section p {
	font-size: 1.5rem;
}

/* Footer Section */

.footer-section {
	padding-left: 40%;
	font-weight: 300;
	color: #1b1b1b91;
	font-size: 0.5rem;
}

.img-plan p {
	font-size: 1rem;
}

/* Travel Form */
.travel-form {
	/* margin: 0 auto; */
	font-weight: 500;
	align-items: flex-start;
}

.form-item {
	padding-right: 10px;
}
/* Map */

/* 
.map-item {
	padding-left: 25%;
	padding-bottom: 10%;
	padding-top: 2%;
} */

.page404 {
	opacity: 0.55;
	margin-top: 11%;
	text-align: center;
}

.item404 h1 {
	font-size: 6rem;
}

.item404 p {
	font-size: 2rem;
}

.main-section {
	margin-left: 0 auto;
}
/* Map */
.map-container {
	margin: 2% auto;
}
.map-item {
	margin: 0 auto;
}

.error {
	color: #ff3814;
	font-size: 0.7rem;
	padding-top: 4px;
}

.error-item {
	outline-color: tomato;
}
